@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* light */
@media (prefers-color-scheme: light) {
  /* general colors */
  :root {
    --primary-color: #03b5a9;
    --secondary-color: #008f79;
    --background: #ebfffd;
    --foreground: #d6fff9;
    --text-color: #f7f3f3;
  }
}
[color-scheme="light"] {
  --primary-color: #03b5a9;
  --secondary-color: #008f79;
  --background: #ebfffd;
  --foreground: #d6fff9;
}
/* dark */
@media (prefers-color-scheme: dark) {
  /* general colors */
  :root {
    --primary-color: #02f2e2;
    --secondary-color: #9afef2;
    --background: #06090e;
    --foreground: #30323d;
    --text-color: #161b33;
  }
}
[color-scheme="dark"] {
  --primary-color: #02f2e2;
  --secondary-color: #9afef2;
  --background: #06090e;
  --foreground: #30323d;
}
